---
import Callout from '../components/Callout.astro';
import Layout from '../layouts/Layout.astro';
---
<Layout title="<div> Soup!">
	<Callout />
	<main>
		<h1>&lt;div> Soup!</h1>
		<search>
			<form action="/">
				<input type="url" name="website" value="https://" />
			</form>
		</search>
		<h2>Score: <output id="score"></output></h2>
		<details name="info">
			<summary>Report</summary>
			<p>Good Practice</p>
			<ul role="list" id="good"></ul>
			<p>Violations</p>
			<ul role="list" id="reasons"></ul>
		</details>
	</main>
	<div id="test"></div>
</Layout>
<script>
	import { actions } from 'astro:actions';
	import { Soup } from '../components/Soup.js';
	import { rules } from '../lib/rules.js'
	const form = document.querySelector('form');
	const parser = new DOMParser();
	const details = document.querySelector('details');
	form?.addEventListener('submit', async (e) => {
		e.preventDefault();

		const { success, content } = await actions.getWebsite(new FormData(e.target as HTMLFormElement));
		if (!success) throw new Error('Could not process website url.');

		const { body } = parser.parseFromString(content, 'text/html');
		body.querySelectorAll('script,style,link').forEach(el => el.remove());
		body.querySelectorAll('img,video,audio,source').forEach(el => {
			el.hasAttribute('src') && el.removeAttribute('src');
			el.hasAttribute('srcset') && el.removeAttribute('srcset');
			el.hasAttribute('track') && el.removeAttribute('track');
		})
		await Soup.test(body.innerHTML, rules);
		if (!details?.hasAttribute('open')) details?.toggleAttribute('open', true);
	})
</script>