---
---
<aside>
    <blockquote>
        <p>Hey! Know how to make sites look pretty? Would love your help on improving the site :) <a href="https://github.com/gingerchew/div-soup">Find the repo here!</a></p>
    </blockquote>
</aside>
<style>
    blockquote {
        padding: 3ch 4.5ch;
        border-radius: 1ch;
        max-width: fit-content;
        background-color: hsl(100 100 255 / 0.1);
        margin: 0;
        text-wrap: pretty;
    }
    blockquote a {
        color: white;
    }
</style>