---
---
<aside>
    <blockquote>
        <details>
            <summary>Hey! Know how to make sites look pretty?</summary>
            <p>Would love your help on improving the site :) <a href="https://github.com/gingerchew/div-soup">Find the repo here!</a></p>
        </details>
    </blockquote>
</aside>
<style>
    blockquote {
        padding: 3ch 4.5ch;
        border-radius: 1ch;
        background-color: hsl(100 100% 100% / 0.1);
        margin: 0;
        text-wrap: pretty;
        &:not(:has([open])) {
            padding: 1.5ch 4.5ch;
        }
    }
    blockquote a {
        color: white;
    }
</style>