---
const emoji = `{emoji}`
---
<footer>
    <ul>
        <li>
            Made with {emoji} by <a href="https://ginger.wtf">ginger</a>
        </li>
        <li>
            <a href="https://github.com/gingerchew/div-soup">Github Repo</a>
        </li>
    </ul>
</footer>
<style>
    footer {
        padding-block: 3ch;
        background-color: #edefff;
        color: #121114;
        font-size: 1.1rem;
        font-weight: 600;
        border-start-start-radius: 10px;
        border-start-end-radius: 10px;
    }
    ul {
        display: flex;
        list-style-type: none;
        gap: 2ch;
        justify-content: center;
        align-items: center;
    }
</style>