<search>
    <form action="/">
        <input type="url" id="website" name="website" value="https://" />
        <button type="submit">Get Report</button>
    </form>
</search>
<style>
    search {
        display: flex;
        gap: 1ch;
    }
    input {
        font-size: 1.5rem;
        font-weight: 600;
        padding: 1ch 1.25ch;
        border-radius: 10px;
        background-color: #fffc;
    }
</style>